<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SinemaBiletSatis.UI</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/AnaEkran/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Sinema Bilet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               
                
            </div>
            <div class="text-end">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Oturumu Kapat</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="btn btn-primary me-2">Giriş</a>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Kayıt ol</a>
                }
               
            </div>
        </div>
    </nav>
  
    
            @RenderBody()
      

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SinemaBiletSatis.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
